In [2]:
import pandas as pd

dfs = {
    "intakes": pd.read_csv("aac_intakes.csv"),
    "intakes_outcomes": pd.read_csv("aac_intakes_outcomes.csv"),
    "outcomes": pd.read_csv("aac_outcomes.csv")
}

intakes_df = dfs["intakes"]
intakes_outcomes_df = dfs["intakes_outcomes"]
outcomes_df = dfs["outcomes"]

# Is there an area where more pets are found?

## Find the top 5 places where animals are found so the shelter can coordinate with local volunteers and animal control to monitor these areas.

Most pets are found in Austin (TX).

To find the top 5 places where animals are found, I grouped the data by the "found_location" column and then counted the number of occurrences for each location. After that, I sorted the locations based on the count and selected the top 5.

In [3]:
found_locations_counts = intakes_df['found_location'].value_counts()

top_5_locations = found_locations_counts.head(5)
print("Top 5 locations where animals are found:")
print(top_5_locations)

Top 5 locations where animals are found:
found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
Name: count, dtype: int64

# What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

## Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.

The average number of pets found per month in 2015 was 1,559. More pets than average were found from May until October.

To find the average number of pets found in a month in the year 2015 and identify months with a higher number of animals found, I filtered the data for the year 2015, grouped it by month, and then calculated the average number of pets found in each month.

In [14]:
intakes_2015 = intakes_df[intakes_df['datetime'].str.startswith('2015')].copy()
intakes_2015['month'] = pd.to_datetime(intakes_2015['datetime']).dt.month
monthly_counts_2015 = intakes_2015.groupby('month').size()
average_pets_per_month = monthly_counts_2015.mean()
months_with_higher_counts = monthly_counts_2015[monthly_counts_2015 > average_pets_per_month]

print("Average number of pets found in a month in 2015:", average_pets_per_month)

Average number of pets found in a month in 2015: 1559.3333333333333

In [13]:
print("\nMonths with a higher number of animals found than the average:")
print(months_with_higher_counts)

Months with a higher number of animals found than the average:
month
5     2094
6     2189
7     1635
8     1718
9     1591
10    1740
dtype: int64

# What is the ratio of incoming pets vs. adopted pets?

## This key metric helps the shelter know how they are doing.

The ratio of incoming vs adopted pets is 2.34.

To calculate the ratio of incoming pets vs. adopted pets, I considered both intakes and outcomes data. I calculated the total number of incoming pets and the total number of adopted pets, and then found the ratio between them.

In [6]:
total_intakes = len(intakes_df)
adopted_outcomes = outcomes_df[outcomes_df['outcome_type'] == 'Adoption']
total_adoptions = len(adopted_outcomes)
ratio_incoming_to_adopted = total_intakes / total_adoptions

print("Ratio of incoming pets vs. adopted pets:", ratio_incoming_to_adopted)

Ratio of incoming pets vs. adopted pets: 2.3424573498480954

# What is the distribution of the types of animals in the shelter?

## Find the count of each type of animal in the shelter.

There are 45,743 dogs, 29,659 cats, 4,434 "other", 342 birds, and 9 animals in the livestock catergory.

To find the distribution of the types of animals in the shelter, I simply counted the occurrences of each unique value in the "animal_type" column of the intakes DataFrame.

In [8]:
animal_type_counts = intakes_df['animal_type'].value_counts()

print("Distribution of types of animals in the shelter:")
print(animal_type_counts)

Distribution of types of animals in the shelter:
animal_type
Dog          45743
Cat          29659
Other         4434
Bird           342
Livestock        9
Name: count, dtype: int64

# What are the adoption rates for specific breeds?

## Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.

The top five breeds, as well as their adoption percentages, are Pit Bull Mix (37.32%), Chihuahua Shorthair Mix (47.18%), Labrador Retriever Mix (49.66%), German Shepherd Mix (47.73%), and Australian Cattle Dog Mix (56.02%).

To find the adoption rates for specific breeds, I first identified the top 5 dog breeds in the shelter based on count. Then, I calculated the adoption percentage for each of these breeds.

In [15]:
dog_intakes = intakes_df[intakes_df['animal_type'] == 'Dog']
dog_breed_counts = dog_intakes['breed'].value_counts()
top_5_dog_breeds = dog_breed_counts.head(5)

adopted_dogs = outcomes_df[(outcomes_df['outcome_type'] == 'Adoption') & (outcomes_df['animal_type'] == 'Dog')]
adoption_rates = {}
for breed in top_5_dog_breeds.index:
    total_dogs_of_breed = dog_breed_counts[breed]
    adopted_dogs_of_breed = adopted_dogs[adopted_dogs['breed'] == breed].shape[0]
    adoption_rate = (adopted_dogs_of_breed / total_dogs_of_breed) * 100
    adoption_rates[breed] = adoption_rate

print("Top 5 dog breeds in the shelter:")
print(top_5_dog_breeds)

Top 5 dog breeds in the shelter:
breed
Pit Bull Mix                 6382
Chihuahua Shorthair Mix      4860
Labrador Retriever Mix       4841
German Shepherd Mix          1963
Australian Cattle Dog Mix    1105
Name: count, dtype: int64

In [12]:
print("Adoption rates for top 5 dog breeds:")
for breed, adoption_rate in adoption_rates.items():
    print(f"{breed}: {adoption_rate:.2f}%")

Adoption rates for top 5 dog breeds:
Pit Bull Mix: 37.32%
Chihuahua Shorthair Mix: 47.18%
Labrador Retriever Mix: 49.66%
German Shepherd Mix: 47.73%
Australian Cattle Dog Mix: 56.02%

# What are the adoption rates for different colorings?

## Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.

The top five colorings, as well as their adoption percentages, are black/white (45.73%), black (41.09%), brown tabby (42.66%), brown (22.19%), and white (37.98%).

To find the adoption rates for different colorings, I followed a similar approach to what I did for breeds. First, I identified the top 5 colorings in the shelter based on count, and then I calculated the adoption percentage for each color.

In [16]:
color_counts = intakes_df['color'].value_counts()
top_5_colors = color_counts.head(5)

adopted_animals = outcomes_df[outcomes_df['outcome_type'] == 'Adoption']
adoption_rates_colors = {}
for color in top_5_colors.index:
    total_animals_of_color = color_counts[color]
    adopted_animals_of_color = adopted_animals[adopted_animals['color'] == color].shape[0]
    adoption_rate_color = (adopted_animals_of_color / total_animals_of_color) * 100
    adoption_rates_colors[color] = adoption_rate_color

print("Top 5 colorings in the shelter:")
print(top_5_colors)

Top 5 colorings in the shelter:
color
Black/White    8340
Black          6710
Brown Tabby    4487
Brown          3618
White          2849
Name: count, dtype: int64

In [17]:
print("Adoption rates for top 5 colorings:")
for color, adoption_rate_color in adoption_rates_colors.items():
    print(f"{color}: {adoption_rate_color:.2f}%")

Adoption rates for top 5 colorings:
Black/White: 45.73%
Black: 41.09%
Brown Tabby: 42.66%
Brown: 22.19%
White: 37.98%

# About how many animals are spayed/neutered each month?

## This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

The average number of animals that are spayed/neutered each month is 4112.

To calculate how many animals are spayed/neutered each month, I first identified the intact animals each month (i.e., those that haven't been spayed/neutered) and then assumed that all of them will be spayed/neutered. We can achieve this by filtering the intakes data for intact animals each month and then counting them.

In [21]:
intakes_df['sex_upon_intake'].fillna('Unknown', inplace=True)
intact_animals = intakes_df[intakes_df['sex_upon_intake'].str.contains('Intact')].copy()
intact_animals.loc[:, 'month'] = pd.to_datetime(intact_animals['datetime']).dt.month
intact_animals_per_month = intact_animals.groupby('month').size()
spayed_neutered_per_month = intact_animals_per_month

print("Estimated number of spayed/neutered animals each month:")
print(spayed_neutered_per_month)

Estimated number of spayed/neutered animals each month:
month
1     3550
2     3233
3     3546
4     3535
5     5214
6     5008
7     4298
8     4132
9     4196
10    4873
11    4107
12    3656
dtype: int64

In [22]:
average_spayed_neutered_per_month = spayed_neutered_per_month.mean()

print("Average number of spayed/neutered animals per month:", average_spayed_neutered_per_month)

Average number of spayed/neutered animals per month: 4112.333333333333

# EXTRA CREDIT

# How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

## This means the animal has been brought in more than once.

13,976 animals were repeats, and a rat terrier mix named "Lil Bit" was returned the most (13 times).

To determine how many animals in the shelter are repeats and which animal was returned to the shelter the most, I identified animals that have been brought in more than once. I did this by looking for duplicate animal IDs in the intakes DataFrame.

In [32]:
duplicate_animals = intakes_df[intakes_df.duplicated(subset='animal_id', keep=False)]
num_repeat_animals = len(duplicate_animals)

most_returned_animal_name = most_returned_animal_info['name']
most_returned_animal_breed = most_returned_animal_info['breed']
num_returns_most_returned_animal = intakes_df[intakes_df['animal_id'] == most_returned_animal].shape[0]

print("Number of repeat animals in the shelter:", num_repeat_animals)

Number of repeat animals in the shelter: 13976

In [33]:
print("The animal returned to the shelter the most:", most_returned_animal)
print("Name:", most_returned_animal_name)
print("Breed:", most_returned_animal_breed)
print("Number of times the most returned animal was brought into the shelter:", num_returns_most_returned_animal)

The animal returned to the shelter the most: A721033
Name: Lil Bit
Breed: Rat Terrier Mix
Number of times the most returned animal was brought into the shelter: 13

# What are the adoption rates for the following age groups?

#### baby: 4 months and less (51.41%)
#### young: 5 months - 2 years (41.94%)
#### adult: 3 years - 10 years (33.67%)
#### senior: 11+ (12.5%)

I categorizes animals based on their age at the time of outcome into four groups: baby, young, adult, and senior. I then filtered the data to include only adopted animals and calculated the adoption counts for each age group. The total counts of animals in each age group are also calculated. Finally, I computed the adoption rates by dividing the adoption counts by the total counts and multiplying by 100.

In [44]:
def categorize_age_group(age_upon_outcome):
    if isinstance(age_upon_outcome, str):
        age_split = age_upon_outcome.split()
        age = int(age_split[0])
        unit = age_split[1]

        # Convert age to months
        if 'year' in unit:
            age = age * 12
        elif 'week' in unit:
            age = age / 4  # Approximate weeks to months
        elif 'day' in unit:
            age = age / 30  # Approximate days to months

        # Categorize based on age
        if age <= 4:  # 4 months or less
            return 'baby'
        elif 5 <= age <= 24:  # 5 months - 2 years
            return 'young'
        elif 25 <= age <= 120:  # 3 years - 10 years
            return 'adult'
        else:  # 11 years and older
            return 'senior'
    else:
        return 'unknown'

outcomes_df['age_group'] = outcomes_df['age_upon_outcome'].apply(categorize_age_group)
adoptions_df = outcomes_df[outcomes_df['outcome_type'] == 'Adoption']
adoption_counts = adoptions_df['age_group'].value_counts()
total_counts = outcomes_df['age_group'].value_counts()
adoption_rates = (adoption_counts / total_counts) * 100

print("Adoption rates for the specified age groups:")
print(adoption_rates)

Adoption rates for the specified age groups:
age_group
young      41.941527
baby       51.413902
adult      33.673191
senior     21.234454
unknown    12.500000
Name: count, dtype: float64

# If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend in 2015 on these procedures?

The total cost in 2015 was $1,406,900.

I defined the costs for spaying/neutering a dog and a cat. Then, I counted the number of dogs and cats that were spayed/neutered in 2015 from the intake data. After that, I multiplied the number of dogs by the cost of spaying/neutering a dog and the number of cats by the cost of spaying/neutering a cat. Finally, I added these two costs together to find the total amount spent by the shelter on spay/neuter procedures in 2015.

In [50]:
dog_spay_neuter_cost = 100
cat_spay_neuter_cost = 50

dogs_spayed_neutered = len(intakes_2015[intakes_2015['animal_type'] == 'Dog'])
cats_spayed_neutered = len(intakes_2015[intakes_2015['animal_type'] == 'Cat'])
total_spay_neuter_cost = (dogs_spayed_neutered * dog_spay_neuter_cost) + (cats_spayed_neutered * cat_spay_neuter_cost)

print("Total cost spent on spay/neuter procedures in 2015: $", total_spay_neuter_cost)

Total cost spent on spay/neuter procedures in 2015: $ 1406900